progress[value] {
  --color-progress: #4207f5;
  --background-progress: #d1cfff;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 10em;
  background: var(--background-progress);
}

progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background-progress);
}

progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color-progress);
}

progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color-progress);
}
